.contact-card {
    width: 100%;
    max-width: 900px;
}

.contact-card .contact-form {
    width: 65%;
    background-color: var(--bg-card-dark);
}
.contact-card .contact-info {
    width: 35%;
    background-color: var(--white);
}