/* --- FONTS --- */

/* Oxanium */
@font-face {
  font-family: 'Oxanium'; src: url('fonts/Oxanium-Bold.ttf') format('truetype');
  font-weight: 700; font-style: normal; font-display: swap;
}
@font-face {
  font-family: 'Oxanium'; src: url('fonts/Oxanium-SemiBold.ttf') format('truetype');
  font-weight: 600; font-style: normal; font-display: swap;
}
@font-face {
  font-family: 'Oxanium'; src: url('fonts/Oxanium-Medium.ttf') format('truetype');
  font-weight: 500; font-style: normal; font-display: swap;
}

/* Roboto */
@font-face {
  font-family: 'Roboto'; src: url('fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400; font-style: normal; font-display: swap;
}

/* Poppins */
@font-face {
  font-family: 'Poppins'; src: url('fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700; font-style: normal; font-display: swap;
}
@font-face {
  font-family: 'Poppins'; src: url('fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600; font-style: normal; font-display: swap;
}
@font-face {
  font-family: 'Poppins'; src: url('fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500; font-style: normal; font-display: swap;
}
@font-face {
  font-family: 'Poppins'; src: url('fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400; font-style: normal; font-display: swap;
}


/* --- VARIABLES --- */
:root {
  /* Colors */
  --primary-light: #1C6BDE;
  --primary-dark: #2776EA;

  --secondary-light: #C2D0E5;
  --secondary-dark: #9DC0F5;

  --white: #FFF;
  --black: #000;

  --bg-linear-light: #283C7D;
  --bg-linear-dark: #1C2132;

  --bg-card-light: #35457D;
  --bg-card-light-hover: #3f508d;

  --bg-card-dark: #2C3867;
  --bg-card-dark-hover: #303d74;

  --bg-project-card: #303E74;

  --text-select: #ffffff;
  --bg-select: #eab122;
  /* Fonts */
  --title-font: 'Oxanium', cursive;
  --subtitle-font: 'Roboto', sans-serif;
  --body-font: 'Poppins', sans-serif;
}

/* --- RESET --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

/* --- SELECT SETTINGS --- */
::selection {
  background-color: var(--bg-select);
  color: var(--text-select);
  -webkit-text-fill-color: var(--text-select);
}
::-moz-selection {
  background-color: var(--bg-select);
  color: var(--text-select);
  -webkit-text-fill-color: var(--text-select);
}
::-webkit-selection {
  background-color: var(--bg-select);
  color: var(--text-select);
  -webkit-text-fill-color: var(--text-select);
}

/* --- TITLES --- */
h1, h2, h3, h4, p { margin-bottom: 0; }

h1 {
  color: var(--white);
  font-size: 55px;
  font-family: var(--title-font);
  font-weight: 700;
}

h2 {
  font-size: 40px;
  font-family: var(--title-font);
  font-weight: 700;
}

h3 {
  color: var(--primary-dark);
  font-size: 42px;
  font-family: var(--subtitle-font);
  font-weight: 400;
}

h4 {
  font-size: 18px;
  font-family: var(--body-font);
  font-weight: 500;
}

/* --- TEXT --- */
p {
  font-size: 16px;
  color: var(--black);
}

a {
  text-decoration: none;
}

span {
  color: var(--secondary-dark);
}

/* --- FONT FAMILY --- */
.oxanium-bold {
  font-family: var(--title-font);
  font-weight: 700;
}
.oxanium-semibold {
  font-family: var(--title-font);
  font-weight: 600;
}

.poppins-bold {
  font-family: var(--body-font);
  font-weight: 700;
}
.poppins-semibold {
  font-family: var(--body-font);
  font-weight: 600;
}
.poppins-medium {
  font-family: var(--body-font);
  font-weight: 500;
}

/* --- FONT SIZE --- */
.fs-12 { font-size: 12px; }
.fs-13 { font-size: 13px; }
.fs-14 { font-size: 14px; }
.fs-17 { font-size: 17px; }
.fs-18 { font-size: 18px; }
.fs-20 { font-size: 20px; }
.fs-22 { font-size: 22px; }

/* --- FONT COLOR --- */
.primary-light { color: var(--primary-light); }
.primary-dark { color: var(--primary-dark); }

.secondary-light { color: var(--secondary-light); }
.secondary-dark { color: var(--secondary-dark); }

.text-white { color: var(--white); }
.text-black { color: var(--white); }


/* --- CARDS --- */
.card-light {
  color: var(--white);
  background-color: var(--bg-card-light);
  padding: 15px;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: all 0.2s ease;
}
.card-light:hover {
  background-color: var(--bg-card-light-hover);
  border-color: var(--primary-dark);
  transform: scale(1.05);
  transition: all 0.4s ease;
}
.card-light img {
  width: 35px;
  height: 35px;
}

.card-dark {
  color: var(--white);
  background-color: var(--bg-card-dark);
  padding: 20px;
  text-align: center;
  border: 2px solid transparent;
  border-radius: 10px;
  transition: all 0.2s ease;
}
.card-dark:hover {
  background-color: var(--bg-card-dark-hover);
  border-color: var(--primary-dark);
  transform: scale(1.05);
  transition: all 0.4s ease;
}

/* --- CONTAINERS --- */
.container-light {
  width: 100%;
  background-color: var(--white);
}

.container-dark {
  width: 100%;
  background: #283C7D;
  background: linear-gradient(180deg,rgba(40, 60, 125, 1) 6%, rgba(28, 33, 50, 1) 100%);
}

.container-hero {
  width: 100%;
  background: #1C2132;
  background: linear-gradient(180deg,rgba(28, 33, 50, 1) 6%, rgba(40, 60, 125, 1) 100%);
}

.container-width {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
}

/* --- BUTTONS --- */
.primary-btn {
  font-size: 16px;
  font-family: var(--body-font);
  font-weight: 400;
  padding: 8px 17px;
  color: var(--white);
  background-color: var(--primary-dark);
  border: 2px solid var(--primary-dark);
  border-radius: 10px;
  width: fit-content;
  transition: all 0.3s ease;
}
.primary-btn:hover {
  color: var(--primary-dark);
  background-color: transparent;
  transition: all 0.3s ease;
}

/* --- NAVBAR & FOOTER --- */
.nav-link {
  transition: all 0.2s ease;
}
.nav-link:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.social-link {
  transition: all 0.3s ease;
}
.social-link:hover {
  transform: scale(1.15);
  transition: all 0.2s ease;
}

/* --- STACK --- */
.custom-progress {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 12px;
}
.custom-progress .vide {
  flex-grow: 1;
  position: relative;
  height: 7px;
  background-color: #D4E8FF;
  border-radius: 4px;
  overflow: hidden;
}
.custom-progress .rempli {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--primary-dark);
  border-radius: 3px;
}
.custom-progress p {
  margin: 0;
  line-height: 1;
  min-width: 35px;
  text-align: right;
}

/* --- TRANSVERSAL --- */
.card-dark .round-icon {
  width: 55px;
  height: 55px;
  border-radius: 30px;
  background-color: var(--primary-dark);
}
.card-dark a:hover {
  text-decoration: underline;
}

/* --- PARCOURS --- */
.timeline-visual {
  width: 24px;
}
.dot {
  width: 24px;
  height: 24px;
  background-color: white;
  border: 4px solid #1C6BDE;
  border-radius: 50%;
  z-index: 2;
}
.line {
  width: 4px;
  background-color: #1C6BDE;
  flex-grow: 1;
  z-index: 1;
  margin-top: -5px;
}


/* --- ENVIRONMENT --- */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* item */
.skills-items {
  display: flex;
  justify-content: center;
  gap: 2vw;
  margin-bottom: 4vh;
  text-align: center;
}

/* Logiciels utilisés */
.infinite-scroll {
  width: 90%;
  display: flex;
  gap: 20px;
  overflow: hidden;
  user-select: none;
  position: relative;
  margin-bottom: 50px;
  --scroll-duration: 30s;
  --loop-width: 100%;
}

.infinite-scroll ul {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 20px;
  width: max-content;
  white-space: nowrap;
  animation: marquee var(--scroll-duration) linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-1 * var(--loop-width)));
  }
}

.infinite-scroll .item {
  display: flex;
  align-items: center;
  padding: 15px;
  gap: 10px;
  white-space: nowrap;
  flex-shrink: 0;
  transition-duration: 0.2s;
}
.infinite-scroll .item:hover {
  transform: scale(1.15);
  transition: all 0.3s ease;
}

.infinite-scroll .item img {
  width: 40px;
  height: auto;
  flex-shrink: 0;
}
.infinite-scroll .item p {
  margin: 0;
  font-size: 18px;
  white-space: nowrap;
  flex: 0 1 auto;
  color: var(--secondary-dark);
}

/* --- PROJECTS --- */
.project-filter {
  border: 2px solid var(--primary-dark);
  border-radius: 30px;
}
.project-filter button {
  padding: 7px 20px 5px;
  color: var(--primary-dark);
  background-color: transparent;
  border: none;
  text-transform: uppercase;
}
.project-filter .active {
  color: var(--white);
  background-color: var(--primary-dark);
}
.project-filter button:first-child { border-radius: 30px 0 0 30px; }
.project-filter button:last-child { border-radius: 0 30px 30px 0; }

.project-card {
  color: var(--white);
  background-color: var(--bg-project-card);
  padding: 0;
  border-radius: 20px;
}
.project-card img {
  aspect-ratio: 333 / 200;
  width: 100%;
  height: auto;
  border-radius: 20px 20px 0 0;
}

.badge {
  line-height: 22px;
  padding: 0 7px;
  border: 1px solid var(--primary-dark);
  border-radius: 12px;
  text-transform: uppercase;
}

.plus-btn {
  background-color: transparent;
  border: none;
  color: var(--primary-dark);
  font-size: 28px;
  line-height: 28px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.plus-btn:hover {
  transform: scale(1.25);
  transition: all 0.3s ease;
}